<div fxLayout="row" class="child-container">
  <div>
    <h3>The count number property</h3>
    <div>
      {{count}}
      <button pButton type="button" label="Increment Count" (click)="updateCountInChild()"></button>
      <button pButton type="button" label="Reset Count" (click)="resetCount()" class="ui-button-secondary"></button>
    </div>
  </div>
  <div>
    <h3>The count object property</h3>
    <div>
      <pre>{{countObject | json }}</pre>
      <button pButton type="button" label="Increment Count Object" (click)="updateCountObjectInChild()"></button>
      <button pButton type="button" label="New Count Object" (click)="newCountObject()" class="ui-button-secondary"></button>
    </div>
  </div>
  <div>
    <p-table [value]="changes" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="changes.length">
      <ng-template pTemplate="header">
        <tr>
          <th>Property Name</th>
          <th>Previous Value</th>
          <th>New Value</th>
          <th>Is First Change</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-log>
        <tr>
          <td>{{log.propName}}</td>
          <td>{{log.previousValue | json}}</td>
          <td>{{log.currentValue | json}}</td>
          <td>{{log.isFirstChange}}</td>
        </tr>
      </ng-template>
    </p-table>
    <button pButton (click)="clearLogs()" label="Clear Logs" icon="fa fa-trash" class="ui-button-danger"></button>
  </div>
</div>
